<!-- <% // Render your search results here %> -->
<!-- <% // This is how to do comments in EJS, by the way... %> -->

 <h4><%= results.Title  %> </h4>


 <a href="/details">home</a>

 <!-- <a href="" -->


 <!-- <a href="" -->
